.list {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: inline-flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--white);
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.link:hover,
.link:focus {
  color: var(--button-bcg-color);
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--white);
}
